@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  border: 1px orange solid;
  height: 100vh;
  padding: 30px;
}

.logo {
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 30px;
  font-family: "Dosis";
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 1000px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
}

.wrapper h4 {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.wrapper img {
  min-width: 250px;
  height: 200px;
  object-fit: cover;
  width: 100%;
  box-sizing: border-box;
}

.headline {
  width: 100%;
  box-sizing: border-box;
}
